# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
/.next/
/out/
/build
next-env.d.ts

# Production
/dist

# Env / secrets
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/*.db
prisma/*.db-journal

# Testing
/coverage
/playwright-report/
/test-results/
/blob-report/
/playwright/.cache/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Vercel
.vercel
